{% extends "../base.html" %}
{% load static widget_tweaks %}

{% block title %}
Forgot Password | Employer
{% endblock title %}

{% block content %}
{% include "../partials/credentials-background.html" %}
<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="card mx-4">
        <form method="post" class="card-body p-5 d-flex justify-content-center flex-column">
            {% csrf_token %}

            <a href="{% url 'cms:home' %}" class="text-center">
                <img src="{% static 'cms-assets/img/brand/logo_for_bright_bg.png' %}" alt="TalentAlps Registration" style="height: 25px;">
            </a>
            <div class="d-flex justify-content-center align-items-center flex-column mt-5">
                <p class="m-0 px-2 font-weight-lighter text-gray text-center small">We will send you instructions to reset your password</p>

                <div class="form-group w-100 mt-4">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="ni ni-email-83"></i></span>
                        </div>
                        {% render_field form.email class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" %}
                    </div>
                    {% for error in form.email.errors  %}
                        <p class="text-danger small mb-0 mt-1 font-weight-light">{{ error }}</p>
                    {% endfor %}
                </div>
                <button class="btn btn-primary btn-block px-5 mt-4" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
  
{% endblock content %}