{% extends "../base.html" %}
{% load static widget_tweaks %}

{% block title %}
Reset Password | Employer
{% endblock title %}

{% block page_css %}
<style>
    @media screen and (min-width: 0px) {
        .reset-password-card {
            width: 90vw;
        }
    }

    @media screen and (min-width: 768px) {
        .reset-password-card {
            width: 50vw;
        }
    }

    @media screen and (min-width: 998px) {
        .reset-password-card {
            width: 25vw;
        }
    }
</style>
{% endblock page_css %}

{% block content %}
{% include "../partials/credentials-background.html" %}
<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="card reset-password-card mx-4">
        {% if view.valid %}
          
        <form method="post" class="card-body p-5 d-flex justify-content-center flex-column">
            {% csrf_token %}
            <a href="{% url 'cms:home' %}" class="text-center">
                <img src="{% static 'cms-assets/img/brand/logo_for_bright_bg.png' %}" alt="TalentAlps Registration" style="height: 25px;">
            </a>
            <div class="d-flex justify-content-center align-items-center flex-column mt-5">
                <p class="m-0 px-2 font-weight-lighter text-gray text-center small">Enter your new password</p>

                <div class="form-group w-100 mt-4">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        {% render_field form.password class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" %}
                    </div>
                    {% for error in form.password.errors %}
                        <p class="mb-0 mt-1 small text-danger font-weight-light" style="white-space: pre-line;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group w-100 mt-2">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        {% render_field form.confirm_password class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon1" %}
                    </div>
                    {% for error in form.confirm_password.errors %}
                        <p class="mb-0 mt-1 small text-danger font-weight-light">{{ error }}</p>
                    {% endfor %}
                </div>

                <button class="btn btn-primary btn-block px-5 mt-4" type="submit">Submit</button>
            </div>
        </form>

        {% else %}

        <div class="card-body p-5 d-flex justify-content-center flex-column">
            <p class="small text-danger font-weight-light">This link has expired.</p>
        </div>
        {% endif %}
    </div>
</section>
  
{% endblock content %}