{% extends '../employer-base.html' %}
{% load static humanize %}
{% block title %}
Companies
{% endblock title %}

{% block page_css %}
{% endblock page_css %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Companies</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'employer:dashboard' %}"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'employer:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Companies</li>
                        </ol>
                    </nav>
                </div>
            </div>
            {% if object_list %}
            <a href="{% url 'employer:company-create' %}">
                <button class="btn btn-cion btn-primary pl-3 pr-4 mt-4" type="button">
                    <span class="btn-inner--icon"><i class="ni ni-fat-add mr-1"></i></span>
                    <span class="btn-inner--text">Create New Company</span>
                </button>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<div>
{% if object_list %}
    <div class="row mt-n4 w-100 px-md-2 px-0 m-0">
    
    {% for company in object_list %}
    
        <div class="col-12 col-md-6">
            <div class="card mx-1">
                <div class="card-body pb-1">
                    <div class="d-flex">
                        {% if company.avatar %}
                            <img src="{{ company.avatar.url }}" alt="{{ company.company_name }} Logo" class="img-fluid avatar rounded bg-transparent NO-CACHE">
                        {% else %}
                            <img src="{% static 'placeholders/office.svg' %}" alt="Office" class="img-fluid avatar rounded bg-transparent">
                        {% endif %}
                        <div class="ml-3 d-flex flex-column justify-content-center">
                            <h2 class="m-0">{{ company.company_name }}</h2>
                            <p class="small font-weight-light mb-0">
                                {% if company.state %}
                                    {{ company.get_state_display }},
                                {% endif %} 
                                {% if company.country %}
                                {{ company.get_country_display }}
                                {% else %}
                                <a href="{% url 'employer:company-description-location-create' company.pk %}"><i>Profile incomplete*</i></a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row px-3 mt-4">
                        <div class="px-4 py-0 border-left border-right col-sm-4 col-12 mt-2">
                            <p class="small mb-0">Published Jobs</p>
                            <h4 class="mb-0">{{ company.listing_count | intcomma }}</h4>
                        </div>
                        <div class="px-4 py-0 border-right col-sm-4 col-12 mt-2">
                            <p class="small mb-0">Job Views</p>
                            {% if company.total_views %}
                                <h4 class="mb-0">{{ company.total_views | intcomma }}</h4>
                            {% else %} 
                                <h4 class="mb-0">0</h4>
                            {% endif %}
                        </div>
                        <div class="px-4 py-0 border-right col-sm-4 col-12 mt-2">
                            <p class="small mb-0">Commends</p>
                            <h4 class="mb-0">0</h4>
                        </div>
                    </div>

                    <div class="mt-5" id="id_profile_menu_{{ company.pk }}" style="display: none;">
                        <p class="small text-gray">Options</p>
                        <div class="list-group">
                            <div class="d-flex">
                                <a href="{% url 'employer:company-update' company.pk %}" class="list-group-item list-group-item-action border-top-0 border-bottom-0 small rounded-0">Edit Company</a>
                                <a href="{% url 'employer:company-image-upload' company.pk %}" class="list-group-item list-group-item-action border-top-0 border-bottom-0 border-left-0 small rounded-0">
                                    Company Images
                                </a>
                            </div>
                            <a href="{% url 'employer:company-delete' company.pk %}" class="list-group-item list-group-item-action border-top-0 border-bottom-0 small rounded-0 text-danger">
                                Delete Company Profile
                            </a>
                        </div>
                    </div>

                    <a href="" class="d-flex justify-content-center mt-2" id="id_maximize_button_{{ company.pk }}" onclick="
                            event.preventDefault();
                            $('#id_profile_menu_{{ company.pk }}').fadeIn('fast');
                            $('#id_minimize_button_{{ company.pk }}').fadeIn('fast');
                            $('#id_maximize_button_icon_{{ company.pk }}').fadeOut(0);
                            $('#id_minimize_button_icon_{{ company.pk }}').fadeIn(0);
                            $(this).fadeOut(0);
                        ">
                        <div class="p-2 text-gray" id="id_maximize_button_icon_{{ company.pk }}">
                            <i class="fas fa-chevron-down fa-1x"></i>
                        </div>
                    </a>
                    <a href="" class="d-flex justify-content-center mt-2" id="id_minimize_button_{{ company.pk }}" onclick="
                            event.preventDefault();
                            $('#id_profile_menu_{{ company.pk }}').fadeOut(0);
                            $('#id_maximize_button_{{ company.pk }}').fadeIn(0);
                            $('#id_minimize_button_icon_{{ company.pk }}').fadeOut(0);
                            $('#id_maximize_button_icon_{{ company.pk }}').fadeIn(0);
                            $(this).fadeOut(0);
                        " style="display: none;">
                        <div class="p-2 text-gray" id="id_minimize_button_icon_{{ company.pk }}" style="display: none;">
                            <i class="fas fa-chevron-down fa-1x" id="id_option_button_{{ company.pk }}" style="transform: scaleY(-1);"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    {% endfor %}
    </div>
{% else %}
<div class="container">
    <div class="px-5 d-flex flex-column align-items-center mt-5">
        <img src="{% static 'placeholders/documents.svg' %}" alt="TalentAlps Company Profile" class="img-fluid mt-5" width="180px">
        <p class="mt-4 text-center text-gray">Ooops, you don't have any company profiles yet!</p>
        <a href="{% url 'employer:company-create' %}" class="btn btn-outline-primary mt-2">Create a Company Profile</a>
    </div>
    {% endif %}
</div>
</div>
{% endblock content %}

{% block page_js %}
<script>
    $(document).ready(function () {
        $('.NO-CACHE').attr('src',function () {
            return $(this).attr('src') + "?a=" + Math.random() 
        });

        if ("{{ request.GET.create }}") {
            $.notify({
                icon: 'fas fa-bell',
                message: '<span class="ml-2">Congrats! Click here to create a job listing now!</span>',
                url: '{% url "job:job-listing-create" %}',
            },{
                type: 'success',
                placement: {
                    from: "top",
                    align: "center"
                },
            });
        }
    })
</script>

{% endblock page_js %}