{% extends "./registration-base.html" %}
{% load widget_tweaks %}

{% block title %}Register{% endblock title %}

{% block content %}
<h1>Employer Registration</h1>

<form method="post">
    {% csrf_token %}
    
    <label for="username">Username:</label>
    {% render_field form.username %}
    {{ form.username.errors }}

    <label for="password">Password:</label>
    {% render_field form.password %}
    {{ form.password.errors }}

    <label for="retype_password">Retype Password:</label>
    {% render_field form.retype_password %}
    {{ form.retype_password.errors }}

    <label for="email">Email:</label>
    {% render_field form.email %}
    {{ form.email.errors }}

    <label for="full name">Full Name:</label>
    {% render_field form.name %}
    {{ form.name.errors }}

    <label for="contact">Contact:</label>
    {% render_field form.contact %}
    {{ form.contact.errors }}

    <button type="submit">Register</button>
</form>

<a href="{% url 'employer:login' %}">Already have an account?</a>
{% endblock content %}