{% extends "./registration-base.html" %}
{% load widget_tweaks %}

{% block title %}Account Activation{% endblock title %}

{% block content %}
<h1>Account Activation</h1>
{% if view.valid %}
    {% if view.verified %}
        Account has already been verified previously, please log in using your registered credentials.
    {% else %}
        Thank you for verifying your account, your adventure starts here!
    {% endif %}
    {% if user.userprofile.is_employer %}
        <a href="{% url 'login' %}">Login</a>
    {% else %}
        <a href="{% url 'employer:login' %}">Login</a>
    {% endif %}
{% else %}
    Link has expired.
{% endif %}


{% endblock content %}