{% load static %}

<div class="position-absolute vh-100 vw-100 overflow-hidden">
    <div class="pl-5 ml-5 d-sm-block d-none position-absolute bottom--5">
        <img src="{% static 'cms-assets/img/credentials/credentials-graphic-1.svg' %}" alt="TalentAlps" class="img-fluid" style="height: 45vh;">
    </div>
    <div class="pr-5 mr-5 d-sm-flex d-none position-absolute top--5 justify-content-end w-100">
        <img src="{% static 'cms-assets/img/credentials/credentials-graphic-2.svg' %}" alt="TalentAlps" class="img-fluid pr-5 mr-5" style="height: 45vh;">
    </div>
</div>