{% extends '../employer-base.html' %}
{% load static humanize widget_tweaks sass_tags %}
{% block title %}
Create Job Listing
{% endblock title %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'dashboard-assets/vendor/select2/dist/css/select2.min.css' %}">
<style>
    @media screen and (min-width: 1199px) {
        #id_card {
            min-width: 1199px;
        }
    }

    @media screen and (min-width: 1800px) {
        #id_card {
            min-width: 1600px;
        }
    }
</style>
{% endblock page_css %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Create Job Listing</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'employer:dashboard' %}"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'employer:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'job:job-listing' %}">Job Listings</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create Job Listing</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container d-flex justify-content-center">

    <!-- Editing Form -->
    <div class="card mt-n5 position-relative" id="id_card">
        <a href="{% url 'job:job-listing' %}" class="mb-0 position-absolute ml-4 top-4"> <i class="fas fa-caret-left ml-2 mr-2"></i> Back</a>

        <div class="card-body py-5 px-sm-4 px-3">
            <div class="row">
                
                <form method='post' class="mt-5 px-4 col-xl-7 col-12 order-2 order-xl-1">
                    {% csrf_token %}
                    <h4 class="text-muted mb-4 font-weight-normal small">JOB INFORMATION</h4>
                    
                    <div class="row mt-4">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_title" class="form-control-label">Title <span class="text-danger">*</span></label>
                                {% render_field form.title class="form-control" placeholder="Example Job Title" %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.title.errors | striptags }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_level" class="form-control-label">Seniority Level <span class="text-danger">*</span></label>
                                {% render_field form.level class="form-control" data-toggle="select" title="Seniority Level Select" data-placeholder="Seniority Level" %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.level.errors | striptags }}</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="row mt-2">

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_employment_type" class="form-control-label">Employment Type <span class="text-danger">*</span></label>
                                {% render_field form.employment_type class="form-control" data-toggle="select" title="Employment Type Select" data-placeholder="Employment Type" %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.employment_type.errors | striptags }}</p>
                            </div>
                        </div>
                        
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_years_of_experience" class="form-control-label">Minimum Year(s) of Experience <span class="text-danger">*</span> <i class="fas fa-info-circle text-gray ml-2" data-toggle="tooltip" data-placement="top" title="Set years of experience to 0 if you're accepting fresh graduates."></i></label>
                                <div class="input-group">
                                    {% render_field form.years_of_experience class="form-control" %}
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="id_years_of_experience">Year(s)</span>
                                    </div>
                                </div>
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.years_of_experience.errors | striptags }}</p>
                            </div>
                        </div>
                    </div>
                    
    
                    <div class="row mt-2">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_pay_from" class="form-control-label">Pay From</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">RM</span>
                                    </div>
                                    {% render_field form.pay_from class="form-control" placeholder="0.00" %}
                                </div>
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.pay_from.errors | striptags }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_pay_to" class="form-control-label">Pay To</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">RM</span>
                                    </div>
                                    {% render_field form.pay_to class="form-control" placeholder="0.00" %}
                                </div>
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.pay_to.errors | striptags }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_industry" class="form-control-label">Industry <span class="text-danger">*</span></label>
                                {% render_field form.industry class="form-control" multiple="" data-trigger="" %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.industry.errors | striptags }}</p>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_job_functions" class="form-control-label">Job Functions <span class="text-danger">*</span></label>
                                {% render_field form.job_functions class="form-control" multiple="" data-trigger=""  %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.job_functions.errors | striptags }}</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="border-bottom mt-4"></div>
    
                    <h4 class="text-muted mb-4 font-weight-normal small mt-4">COMPANY INFORMATION</h4>
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="id_company" class="form-control-label">Company <span class="text-danger">*</span></label>
                                <div class="d-flex">
                                    {% render_field form.company class="form-control" data-toggle="select" title="Company Select" data-placeholder="Company"%}
                                    {% for company in company_logos %}
                                        {% if company.avatar %}
                                            <img src="{{ company.avatar.url }}" alt="{{ company.company_name }}" class="avatar rounded ml-4 NO-CACHE" id="id_company_preview_form_{{ company.pk }}" style="display: none;">
                                        {% endif %}
                                    {% endfor %}
                                    <img src="{% static 'placeholders/office.svg' %}" class="avatar rounded ml-4 bg-transparent" alt="Company" id="id_form_company">
                                </div>
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.company.errors | striptags }}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="border-bottom mt-4"></div>
    
                    <h4 class="text-muted mb-4 font-weight-normal small mt-4">LOCATION</h4>
                    <div class="row mt-4">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_state" class="form-control-label">State</label>
                                {% render_field form.state class="form-control" data-toggle="select" title="State Select" data-placeholder="State"%}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.state.errors | striptags }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_country" class="form-control-label">Country <span class="text-danger">*</span></label>
                                {% render_field form.country class="form-control" data-toggle="select" title="Country Select" data-placeholder="Country"%}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ form.country.errors | striptags }}</p>
                            </div>
                        </div>
                    </div>

                    <p class="text-gray small font-weight-light mb-0 mt-4">- Job listings will last for a total of <b>30 days</b>, it will be automatically taken down after that.</p>
                    <p class="text-gray small font-weight-light mb-0">- Only the job listing's description & questionnaire can be editted after submission.</p>
                    <p class="text-danger small">- Make sure all the information here is correct before proceeding, you won't be able to edit this information anymore after submission.</p>
                    <div class="w-100 d-flex justify-content-end mt-5">
                        <a href="{% url 'job:job-listing' %}" class="font-weight-light small pt-1 px-5">Cancel</a>
                        <button class="btn btn-primary btn-sm px-5" type="submit">Create Job Listing</button>
                    </div>
                    
    
                </form>

                <div class="d-flex flex-column justify-content-center align-items-center mt-2 col-xl-5 col-12 order-1 order-xl-2 border-left">

                    <!-- Fake card -->
                    <div class="card mb-3 d-none d-xl-block" style="width: 370px; z-index: 1050;">
                        <div class="card-body position-relative p-4">
                            <i class="fas fa-ellipsis-v position-absolute right-3 text-gray opacity-5"></i>
                            <div class="avatar-lg rounded bg-gradient-secondary"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-50 rounded rounded"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>

                            <div class="d-flex mt-5">
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                            </div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>
                        </div>
                    </div>

                    <div class="card mb-0" style="width: 370px; height: 300px; z-index: 1050;" id="id_card_preview">
                        <!-- Live Preview -->
                        <div class="card-body position-relative p-4 h-100">
                            <i class="fas fa-ellipsis-v position-absolute right-3 text-gray opacity-5"></i>
                            {% for company in company_logos %}
                                {% if company.avatar %}
                                    <img src="{{ company.avatar.url }}" alt="{{ company.company_name }}" class="avatar-lg rounded NO-CACHE" id="id_company_preview_example_{{ company.pk }}" style="display: none;">
                                {% endif %}
                            {% endfor %}
                            <img src="{% static 'placeholders/office.svg' %}" class="avatar-lg rounded" alt="Company" id="id_preview_company_img">
                            <p class="mb-0 mt-2 font-weight-normal" id="id_preview_title">Example Job Title</p>
                            <span class="mb-0 small font-weight-light mt-2" id="id_preview_state">State, </span>
                            <span class="mb-0 small font-weight-light mt-2" id="id_preview_country">Country</span>

                            <p class="mb-0 small font-weight-light" id="id_preview_company">Example Company</p>
                
                            <div class="d-inline-block mt-5 position-absolute bottom-5">
                                <span class="badge font-weight-normal py-2 px-3 text-primary mr-1" style="background-color: #DDEEFF; text-transform: none;" id="id_preview_employment_type">----------</span>
                                <span class="badge font-weight-normal py-2 px-3 text-primary mr-1" style="background-color: #DDEEFF; text-transform: none;" id="id_preview_min_years">Min * Year(s)</span>
                                <span class="badge font-weight-normal py-2 px-3 text-primary mr-1" style="background-color: #DDEEFF; text-transform: none;" id="id_preview_level">----------</span>
                            </div>
                            <p class="mb-0 mt-2 small font-weight-lighter text-gray opacity-7 position-absolute bottom-3">1 day ago</p>
                        </div>
                    </div>

                    <!-- Fake card -->
                    <div class="card mt-3 d-none d-xl-block" style="width: 370px; z-index: 1050;">
                        <div class="card-body position-relative p-4">
                            <i class="fas fa-ellipsis-v position-absolute right-3 text-gray opacity-5"></i>
                            <div class="avatar-lg rounded bg-gradient-secondary"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-50 rounded rounded"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>

                            <div class="d-flex mt-5">
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                            </div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>
                        </div>
                    </div>

                    <a href="#" class="text-center text-gray opacity-7 small font-weight-light d-xl-none mt-2" id="id_hide_preview">Hide Listing Preview</a>
                    <a href="#" class="text-center text-gray opacity-7 small font-weight-light d-none mt-2" id="id_show_preview">Show Listing Preview</a>
    
                </div>
            </div>
        </div>
    </div>
    
</div>


{% endblock content %}

{% block page_js %}
<script src="{% static 'dashboard-assets/vendor/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'cms-assets/js/plugins/choices.min.js' %}"></script>

<script>
    $(document).ready(function(){ 
        let company_example_preview = $('#id_preview_company_img')
        let company_form_preview = $('#id_form_company')
        let title_preview = $('#id_preview_title')
        let state_preview = $('#id_preview_state')
        let company_name_preview = $('#id_preview_company')
        let employment_type_preview = $('#id_preview_employment_type')
        let min_years_preview = $('#id_preview_min_years')
        let level_preview = $('#id_preview_level')
        let country_preview = $('#id_preview_country')

        let company_form_img = $('#id_company_form')

        let card_preview = $('#id_card_preview')
        let hide_preview_button = $('#id_hide_preview')
        let show_preview_button = $('#id_show_preview')

        // Activate Choices.js
        const industry_choices = new Choices('#id_industry', {
            placeholder: true,
            placeholderValue: 'Search Industry',
            searchFloor: 2,
            searchResultLimit: 6,
            maxItemCount: 4,
            delimiter: ',',
            editItems: false,
            removeItemButton: true,
            loadingText: 'Loading...',
            noResultsText: 'Nothing to see here...',
            noChoicesText: 'No more industries to choose from',
        });

        const job_function_choices = new Choices('#id_job_functions', {
            placeholder: true,
            placeholderValue: 'Search Function',
            searchFloor: 2,
            searchResultLimit: 6,
            maxItemCount: 4,
            delimiter: ',',
            editItems: false,
            removeItemButton: true,
            loadingText: 'Loading...',
            noResultsText: 'Nothing to see here...',
            noChoicesText: 'No more job functions to choose from',
        });

        function changePreviewText(e, t) {
            e.fadeOut(1)
            e.text(t)
            e.fadeIn('fast')
        }

        hide_preview_button.on('click', function(e) {
            e.preventDefault()
            card_preview.fadeOut('fast')
            hide_preview_button.addClass('d-none')
            show_preview_button.removeClass('d-none')
        })

        show_preview_button.on('click', function(e) {
            e.preventDefault()
            card_preview.fadeIn('fast')
            show_preview_button.addClass('d-none')
            hide_preview_button.removeClass('d-none')
        })
        
        function change_title() {
            let val = $('#id_title').val()
            if(val == '') {
                title_preview.text('Example Job Title')
            } else {
                title_preview.text(val)
            }
        }

        function change_state() {
            let val = $('#select2-id_state-container').attr('title') + ','
            if (val == 'undefined,' || val == '') {
                changePreviewText(state_preview, 'State,')
            } else {
                changePreviewText(state_preview, val)
                if (country_preview.text() != 'MY') {
                    state_preview.fadeOut(0)
                }
            }
        }

        function change_company() {
            let val = $('#select2-id_company-container').attr('title')

            $('[id^=id_company_preview_example_]').each(function () {
                $(this).fadeOut(0)
            })
            $('[id^=id_company_preview_form_]').each(function () {
                $(this).fadeOut(0)
            })

            let preview_example = $('#id_company_preview_example_' + $('#id_company').val())
            let preview_form = $('#id_company_preview_form_' + $('#id_company').val())

            if (preview_example.length != 0) {
                preview_example.fadeIn('fast')
                preview_form.fadeIn('fast')
                company_example_preview.fadeOut(0)
                company_form_preview.fadeOut(0)
            } else {
                company_example_preview.fadeIn('fast')
                company_form_preview.fadeIn('fast')
            }

            if (val == '') {
                changePreviewText(company_name_preview, 'Example Company')
            } else {
                changePreviewText(company_name_preview, val)
            }
        }

        function change_employment_type() {
            let val = $('#select2-id_employment_type-container').attr('title')
            if (val == '') {
                changePreviewText(employment_type_preview, '-----------')
            } else {
                changePreviewText(employment_type_preview, val)
            }
        }

        function change_years_of_experience() {
            let val = $('#id_years_of_experience').val()
            if (val == '0') {
                min_years_preview.fadeOut('fast')
            } else if (val == '') {
                min_years_preview.fadeIn('fast')
                min_years_preview.text('Min * Year(s)')
            } else {
                min_years_preview.fadeIn('fast')
                min_years_preview.text('Min ' + val + ' Year(s)')
            }
        }

        function change_level() {
            let val = $('#select2-id_level-container').attr('title')
            if (val == '') {
                changePreviewText(level_preview, '-----------')
            } else {
                changePreviewText(level_preview, val)
            }
        }

        function change_country() {
            let val = $('#id_country').val()
            let title = $('#select2-id_country-container').attr('title')
            if (val == '') {
                changePreviewText(country_preview, 'Country')
            } else {
                if (val != 'MY') {
                    state_preview.fadeOut(0)
                    changePreviewText(country_preview, title)
                } else {
                    state_preview.fadeIn('fast')
                    changePreviewText(country_preview, val)
                }
            }
        }

        // Run through the "Live Preview" functions once to update in case of form invalid
        change_title()
        change_state()
        change_company()
        change_employment_type()
        change_years_of_experience()
        change_level()
        change_country()

        $('#id_title').keyup(function ur_mum() {
            change_title()
        })

        $('#id_state').change(function() {
            change_state()
        })

        $('#id_company').change(function() {
            change_company()
        })

        $('#id_employment_type').change(function() {
            change_employment_type()
        })

        $('#id_years_of_experience').bind('change keyup input', function() {
            change_years_of_experience()
        })

        $('#id_level').bind('change', function() {
            change_level()
        })

        $('#id_country').bind('change', function() {
            change_country()
        })
    });
</script>

{% endblock page_js %}