{% extends '../employer-base.html' %}
{% load static humanize widget_tweaks %}
{% block title %}
Create Job Listing
{% endblock title %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'dashboard-assets/vendor/select2/dist/css/select2.min.css' %}">

<style>
    @media screen and (min-width: 1199px) {
        #id_card {
            min-width: 1199px;
        }
    }

    @media screen and (min-width: 1800px) {
        #id_card {
            min-width: 1600px;
        }
    }
</style>
{% endblock page_css %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Create Job Listing</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="{% url 'employer:dashboard' %}"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'employer:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'job:job-listing' %}">Job Listings</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create Job Listings</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container d-flex justify-content-center">

    <!-- Editing Form -->
    <div class="card mt-n5 position-relative" id="id_card">
        <a href="{% url 'job:job-listing' %}" class="mb-0 position-absolute ml-4 top-4"> <i class="fas fa-caret-left ml-2 mr-2"></i> Back</a>

        <div class="card-body py-5 px-sm-4 px-3">
            <div class="row">
    
                <form method='post' class="mt-5 px-4 col-xl-8 col-12 order-2 order-xl-1">
                    {% csrf_token %}
                    <h4 class="text-muted mb-4 font-weight-normal small">JOB INFORMATION</h4>
                    
                    <div class="row mt-4">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_title" class="form-control-label">Title</label>
                                {% render_field form.title class="form-control" placeholder="Junior Web Developer" %}
                            </div>
                            {% for error in form.title.errors %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_level" class="form-control-label">Seniority Level</label>
                                {% render_field form.level class="form-control" data-toggle="select" title="Seniority Level Select" data-placeholder="Seniority Level" %}
                            </div>
                            {% for error in form.level.errors %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_industry" class="form-control-label">Industry</label>
                                {% render_field form.industry class="form-control" data-toggle="select" multiple="" %}
                            </div>
                            {% for error in form.industry.errors %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_employment_type" class="form-control-label">Employment Type</label>
                                {% render_field form.employment_type class="form-control" data-toggle="select" title="Employment Type Select" data-placeholder="Employment Type" %}
                            </div>
                            {% for error in form.employment_type.errors %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
    
                    <div class="row mt-2">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="id_job_functions" class="form-control-label">Job Functions</label>
                                    {% render_field form.job_functions class="form-control" data-toggle="select" multiple="" %}
                                </div>
                                {% for error in form.job_functions.errors %}
                                    <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_years_of_experience" class="form-control-label">Minimum Year(s) of Experience <i class="fas fa-info-circle text-gray ml-2" data-toggle="tooltip" data-placement="top" title="Set years of experience to 0 if you're accepting fresh graduates."></i></label>
                                <div class="input-group">
                                    {% render_field form.years_of_experience class="form-control" %}
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="id_years_of_experience">Year(s)</span>
                                    </div>
                                </div>
                            </div>
                            {% for error in form.years_of_experience.errors %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    
    
                    <div class="row mt-2">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_pay_from" class="form-control-label">Pay From</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">RM</span>
                                    </div>
                                    {% render_field form.pay_from class="form-control" placeholder="0.00" %}
                                </div>
                            </div>
                            {% for error in form.pay_from.errors %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_pay_to" class="form-control-label">Pay To</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">RM</span>
                                    </div>
                                    {% render_field form.pay_to class="form-control" placeholder="0.00" %}
                                </div>
                            </div>
                            {% for error in form.pay_to.errors %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
    
                    <div class="border-bottom mt-4"></div>
    
                    <h4 class="text-muted mb-4 font-weight-normal small mt-4">COMPANY INFORMATION</h4>
                    <div class="row mt-4">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_company" class="form-control-label">Company</label>
                                <div class="d-flex">
                                    {% render_field form.company class="form-control" data-toggle="select" title="Company Select" data-placeholder="Company"%}
                                    <img src="{% static 'dashboard-assets/img/theme/team-1.jpg' %}" class="avatar rounded ml-4" alt="Company" id="id_form_company">
                                </div>
                            </div>
                            {% for error in form.company.errors %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-12 col-sm-6">
                            
                        </div>
                    </div>
                    
                    <div class="border-bottom mt-4"></div>
    
                    <h4 class="text-muted mb-4 font-weight-normal small mt-4">LOCATION</h4>
                    <div class="row mt-4">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_state" class="form-control-label">State</label>
                                {% render_field form.state class="form-control" data-toggle="select" title="State Select" data-placeholder="State"%}
                            </div>
                            {% for error in form.state.errors %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="id_country" class="form-control-label">Country</label>
                                {% render_field form.country class="form-control" data-toggle="select" title="Country Select" data-placeholder="Country"%}
                            </div>
                            {% for error in form.country.errors %}
                                <p class="small text-danger font-weight-light mb-0 mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
    
                    <div class="w-100 d-flex justify-content-end mt-5">
                        <a href="{% url 'job:job-listing' %}" class="btn btn-secondary btn-sm px-5">Cancel</a>
                        <button class="btn btn-primary btn-sm px-5" type="submit">Next</button>
                    </div>
                    
    
                </form>

                <div class="d-flex flex-column justify-content-center align-items-center mt-2 col-xl-4 col-12 order-1 order-xl-2 border-left">

                    <!-- Fake card -->
                    <div class="card mb-3 d-none d-xl-block" style="width: 370px; z-index: 1050;">
                        <div class="card-body position-relative p-4">
                            <i class="fas fa-ellipsis-v position-absolute right-3 text-gray opacity-5"></i>
                            <div class="avatar-lg rounded bg-gradient-secondary"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-50 rounded rounded"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>

                            <div class="d-flex mt-5">
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                            </div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>
                        </div>
                    </div>

                    <div class="card mb-0" style="width: 370px; height: 300px; z-index: 1050;" id="id_card_preview">
                        <!-- Live Preview -->
                        <div class="card-body position-relative p-4 h-100">
                            <i class="fas fa-ellipsis-v position-absolute right-3 text-gray opacity-5"></i>
                            <img src="{% static 'dashboard-assets/img/theme/team-1.jpg' %}" class="avatar-lg rounded" alt="Company" id="id_preview_company_img">
                            <p class="mb-0 mt-2 font-weight-normal" id="id_preview_title">Junior Web Developer</p>
                            <p class="mb-0 small font-weight-light mt-2" id="id_preview_state">Federal Territory of Kuala Lumpur</p>
                            <p class="mb-0 small font-weight-light" id="id_preview_company">TalentAlps</p>
                
                            <div class="d-inline-block mt-5 position-absolute bottom-5">
                                <span class="badge font-weight-normal py-2 px-3 text-primary mr-1" style="background-color: #DDEEFF; text-transform: none;" id="id_preview_employment_type">Full Time</span>
                                <span class="badge font-weight-normal py-2 px-3 text-primary mr-1" style="background-color: #DDEEFF; text-transform: none;" id="id_preview_min_years">Min 2 Year(s)</span>
                                <span class="badge font-weight-normal py-2 px-3 text-primary mr-1" style="background-color: #DDEEFF; text-transform: none;" id="id_preview_level">Junior</span>
                            </div>
                            <p class="mb-0 mt-2 small font-weight-lighter text-gray opacity-7 position-absolute bottom-3">1 day ago</p>
                        </div>
                    </div>

                    <!-- Fake card -->
                    <div class="card mt-3 d-none d-xl-block" style="width: 370px; z-index: 1050;">
                        <div class="card-body position-relative p-4">
                            <i class="fas fa-ellipsis-v position-absolute right-3 text-gray opacity-5"></i>
                            <div class="avatar-lg rounded bg-gradient-secondary"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-50 rounded rounded"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>

                            <div class="d-flex mt-5">
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                                <span class="card-body bg-gradient-secondary py-3 w-25 rounded mr-2"></span>
                            </div>
                            <div class="card-body bg-gradient-secondary py-2 mt-2 w-25 rounded"></div>
                        </div>
                    </div>

                    
                    <a href="#" class="text-center text-gray opacity-7 small font-weight-light d-xl-none mt-2" id="id_hide_preview">Hide Listing Preview</a>
                    <a href="#" class="text-center text-gray opacity-7 small font-weight-light d-none mt-2" id="id_show_preview">Show Listing Preview</a>
    
                </div>
            </div>
        </div>
    </div>
    
    

</div>


{% endblock content %}

{% block page_js %}
<script src="{% static 'dashboard-assets/vendor/select2/dist/js/select2.min.js' %}"></script>

<script>
    $(document).ready(function(){ 
        let company_img_preview = $('#id_preview_company_img')
        let title_preview = $('#id_preview_title')
        let state_preview = $('#id_preview_state')
        let company_name_preview = $('#id_preview_company')
        let employment_type_preview = $('#id_preview_employment_type')
        let min_years_preview = $('#id_preview_min_years')
        let level_preview = $('#id_preview_level')

        let company_form_img = $('#id_company_form')

        let card_preview = $('#id_card_preview')
        let hide_preview_button = $('#id_hide_preview')
        let show_preview_button = $('#id_show_preview')

        hide_preview_button.on('click', function(e) {
            e.preventDefault()
            card_preview.fadeOut('fast')
            hide_preview_button.addClass('d-none')
            show_preview_button.removeClass('d-none')
        })

        show_preview_button.on('click', function(e) {
            e.preventDefault()
            card_preview.fadeIn('fast')
            show_preview_button.addClass('d-none')
            hide_preview_button.removeClass('d-none')
        })

        $('#id_title').keyup(function() {
            let val = $(this).val()
            if(val == '') {
                title_preview.text('Junior Web Developer')
            } else {
                title_preview.text(val)
            }
        })

        $('#id_state').change(function() {
            let val = $('#select2-id_state-container').attr('title')
            if (val == '') {
                state_preview.text('Federal Territory of Kuala Lumpur')
            } else {
                state_preview.text(val)
            }
        })

        $('#id_company').change(function() {
            let val = $('#select2-id_company-container').attr('title')
            if (val == '') {
                company_name_preview.text('TalentAlps')
            } else {
                company_name_preview.text(val)
            }
        })

        $('#id_employment_type').change(function() {
            let val = $('#select2-id_employment_type-container').attr('title')
            if (val == '') {
                employment_type_preview.text('Full Time')
            } else {
                employment_type_preview.text(val)
            }
        })

        $('#id_years_of_experience').bind('change keyup input', function() {
            let val = $(this).val()
            console.log(val)
            if (val == '0') {
                min_years_preview.addClass('d-none')
            } else if (val == '') {
                min_years_preview.removeClass('d-none')
                min_years_preview.text('Min 2 Year(s)')
            } else {
                min_years_preview.removeClass('d-none')
                min_years_preview.text('Min ' + val + ' Year(s)')
            }
        })

        $('#id_level').change(function() {
            let val = $('#select2-id_level-container').attr('title')
            if (val == '') {
                level_preview.text('Junior')
            } else {
                level_preview.text(val)
            }
        })

    });
</script>

{% endblock page_js %}