{% extends "./login-base.html" %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<h1>Password Reset</h1>
<p>Enter your new password.</p>
{% if view.valid %}
    {% if view.valid_password %}
    <form method="post">
        {% csrf_token %}
        <label for="password">Password:</label>
        {% render_field form.password %}
        {{ form.password.errors }}

        <button type="submit">Submit</button>
    </form>
    {% else %}
        Password reset is not available for this account, please log in using other method(s), or contact support.
        <a href="{% url 'login' %}">Back to Login</a>
    {% endif %}

{% else %}
Link has expired.
{% endif %}


{% endblock content %}